wizplant.integrate.nwpe/doc/soa.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soa="http://soa.csg.cn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://soa.csg.cn" name="YDTF-IGATE">
  <wsdl:types>
    <xsd:schema xmlns:soa="http://soa.csg.cn" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://soa.csg.cn">
      <xsd:complexType name="QueryDeviceInfoByIdResponse">
        <xsd:sequence>
          <xsd:element name="replyCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="deviceGisDTO" minOccurs="0" maxOccurs="1" type="soa:DeviceGisDTO"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LstTechParamList">
        <xsd:sequence>
          <xsd:element name="lstTechParamItem" minOccurs="0" maxOccurs="unbounded" type="soa:LstTechParamItem"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="QueryDeviceInfoByIdRequest">
        <xsd:sequence>
          <xsd:element name="deviceId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LstTechParamItem">
        <xsd:sequence>
          <xsd:element name="classifyId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="classifyName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="techParamId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="columnName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="techParamName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="techParamValue" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="units" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="isMandatory" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
          <xsd:element name="isShow" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
          <xsd:element name="sortNo" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
          <xsd:element name="dataType" minOccurs="0" maxOccurs="1" type="xsd:int"/>
          <xsd:element name="isVendorFill" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DeviceGisDTO">
        <xsd:sequence>
          <xsd:element name="deviceCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="deviceName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="classifyId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="classifyName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="isCapitalAssets" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
          <xsd:element name="isCapitalAssetsStr" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="proprietorCompanyOname" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="proprietorCompanyOid" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="baseVoltageId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="baseVoltageName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="voltagePageShow" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="isVirtualDevice" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
          <xsd:element name="isVirtualDeviceStr" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="measurementUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="amount" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
          <xsd:element name="manufacturer" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="manufacturerId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="latestManufacturer" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="vendor" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="vendorId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="deviceModel" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="leaveFactoryNo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="leaveFactoryDate" minOccurs="0" maxOccurs="1" type="xsd:date"/>
          <xsd:element name="leaveFactoryDateStr" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="warrantyPeriod" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
          <xsd:element name="plantTransferDate" minOccurs="0" maxOccurs="1" type="xsd:date"/>
          <xsd:element name="plantTransferDateStr" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="assetState" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
          <xsd:element name="assetStateStr" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="statusDate" minOccurs="0" maxOccurs="1" type="xsd:date"/>
          <xsd:element name="statusDateStr" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="runningCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="latitude" minOccurs="0" maxOccurs="1" type="xsd:double"/>
          <xsd:element name="longitude" minOccurs="0" maxOccurs="1" type="xsd:double"/>
          <xsd:element name="latitudeStr" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="longitudeStr" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="altitude" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
          <xsd:element name="topography" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
          <xsd:element name="topographyStr" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="bureauUnitsOid" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="bureauUnitsOname" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="dispatchLevel" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
          <xsd:element name="dispatchLevelStr" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="runmanageOid" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="runmanageOName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="vindicateOid" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="vindicateOName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="placeCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="flName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="flCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="installCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="remark" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="powerGridFlag" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
          <xsd:element name="powerGridFlagStr" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="ownerStationOid" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="ownerStationOName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="countyCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="oldClassifyFullPath" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="oldAliasName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="retireDate" minOccurs="0" maxOccurs="1" type="xsd:date"/>
          <xsd:element name="isLabel" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
          <xsd:element name="isLabelStr" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="isAssambly" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
          <xsd:element name="isAssamblyStr" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="isShareDevice" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
          <xsd:element name="isShareDeviceStr" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="dataSource" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="licensePlateNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="vindicatorUnitOname" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="vindicatorUnitOid" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="capitalAssetsCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="installationLocation" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="proprietorOwner" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
          <xsd:element name="proprietorOwnerStr" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="useLife" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
          <xsd:element name="deviceModelId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="deviceId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="retireDateStr" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="functionLocationId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="classifyCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="classifyFullPath" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="nominalVoltage" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
          <xsd:element name="parentFLId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="parentFLName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="bayId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="bayName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="siteId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="siteName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="bureauName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="fullPath" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="centerSubstationId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="centerSubstationName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="subsIdOfDisDevice" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="subsNameOfDisDevice" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="inventoryTaskNo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="assetDeviceId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="lstTechParamList" minOccurs="0" maxOccurs="1" type="soa:LstTechParamList"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="queryDeviceInfoByIdRequest" type="soa:QueryDeviceInfoByIdRequest"/>
      <xsd:element name="queryDeviceInfoByIdResponse" type="soa:QueryDeviceInfoByIdResponse"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="queryDeviceInfoByIdHeader"></wsdl:message>
  <wsdl:message name="queryDeviceInfoByIdRequest">
    <wsdl:part name="queryDeviceInfoByIdRequest" element="soa:queryDeviceInfoByIdRequest"/>
  </wsdl:message>
  <wsdl:message name="queryDeviceInfoByIdResponse">
    <wsdl:part name="queryDeviceInfoByIdResponse" element="soa:queryDeviceInfoByIdResponse"/>
  </wsdl:message>
  <wsdl:portType name="SOAServicePort">
    <wsdl:operation name="queryDeviceInfoById">
      <wsdl:input message="soa:queryDeviceInfoByIdRequest"/>
      <wsdl:output message="soa:queryDeviceInfoByIdResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAServiceBinding" type="soa:SOAServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryDeviceInfoById">
      <soap:operation style="document" soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YDTF-IGATE">
    <wsdl:port name="SOAService" binding="soa:SOAServiceBinding">
      <soap:address location="http://10.111.8.227:9734/0D44ECD5-BECE-4B97-AD89-55FC01DB6D3C"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>