wizplant.integrate.nwpe/doc/testsoa.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sp.soa.csg.cn" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IDeviceInfoForGisImpl_queryDeviceInfoById" targetNamespace="http://sp.soa.csg.cn">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://sp.soa.csg.cn" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://sp.soa.csg.cn">
  <xs:complexType name="queryDeviceInfoByIdRequest">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="deviceId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryDeviceInfoByIdResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="replyCode" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="deviceGisDTO" type="tns:deviceGisDTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deviceGisDTO">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="deviceCode" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="deviceName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="classifyId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="classifyName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="isCapitalAssets" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="isCapitalAssetsStr" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="proprietorCompanyOname" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="proprietorCompanyOid" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="baseVoltageId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="baseVoltageName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="voltagePageShow" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="isVirtualDevice" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="isVirtualDeviceStr" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="measurementUnit" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="amount" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="manufacturer" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="manufacturerId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="latestManufacturer" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="vendor" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="vendorId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="deviceModel" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="leaveFactoryNo" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="leaveFactoryDate" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="leaveFactoryDateStr" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="warrantyPeriod" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="plantTransferDate" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="plantTransferDateStr" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="assetState" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="assetStateStr" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="statusDate" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="statusDateStr" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="runningCode" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="latitude" type="xs:double"/>
      <xs:element form="qualified" minOccurs="0" name="longitude" type="xs:double"/>
      <xs:element form="qualified" minOccurs="0" name="latitudeStr" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="longitudeStr" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="altitude" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="topography" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="topographyStr" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="bureauUnitsOid" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="bureauUnitsOname" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="dispatchLevel" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="dispatchLevelStr" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="runmanageOid" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="runmanageOName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="vindicateOid" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="vindicateOName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="placeCode" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="flName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="flCode" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="installCode" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="remark" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="powerGridFlag" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="powerGridFlagStr" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="ownerStationOid" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="ownerStationOName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="countyCode" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="oldClassifyFullPath" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="oldAliasName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="retireDate" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="isLabel" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="isLabelStr" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="isAssambly" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="isAssamblyStr" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="isShareDevice" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="isShareDeviceStr" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="dataSource" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="licensePlateNumber" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="vindicatorUnitOname" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="vindicatorUnitOid" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="capitalAssetsCode" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="installationLocation" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="proprietorOwner" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="proprietorOwnerStr" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="useLife" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="deviceModelId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="deviceId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="retireDateStr" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="functionLocationId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="classifyCode" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="classifyFullPath" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="nominalVoltage" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="parentFLId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="parentFLName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="bayId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="bayName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="siteId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="siteName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="bureauName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="fullPath" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="centerSubstationId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="centerSubstationName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="subsIdOfDisDevice" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="subsNameOfDisDevice" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="inventoryTaskNo" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="assetDeviceId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="lstTechParamList">
        <xs:complexType>
          <xs:sequence>
            <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="lstTechParamItem" type="tns:techParamValueGisDTO"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="techParamValueGisDTO">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="classifyId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="classifyName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="techParamId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="columnName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="techParamName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="techParamValue" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="units" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="isMandatory" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="isShow" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="sortNo" type="xs:int"/>
      <xs:element form="qualified" name="dataType" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="isVendorFill" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryDeviceInfoByIdRequest" nillable="true" type="tns:queryDeviceInfoByIdRequest"/>
  <xs:element name="queryDeviceInfoByIdResponse" nillable="true" type="tns:queryDeviceInfoByIdResponse"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="queryDeviceInfoByIdResponse">
    <wsdl:part element="tns:queryDeviceInfoByIdResponse" name="queryDeviceInfoByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryDeviceInfoByIdRequest">
    <wsdl:part element="tns:queryDeviceInfoByIdRequest" name="queryDeviceInfoByIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IDeviceInfoForGisImpl_queryDeviceInfoById">
    <wsdl:operation name="queryDeviceInfoById">
      <wsdl:input message="tns:queryDeviceInfoByIdRequest" name="queryDeviceInfoByIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:queryDeviceInfoByIdResponse" name="queryDeviceInfoByIdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IDeviceInfoForGisImpl_queryDeviceInfoByIdSoapBinding" type="tns:IDeviceInfoForGisImpl_queryDeviceInfoById">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryDeviceInfoById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryDeviceInfoByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryDeviceInfoByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IDeviceInfoForGisImpl_queryDeviceInfoById">
    <wsdl:port binding="tns:IDeviceInfoForGisImpl_queryDeviceInfoByIdSoapBinding" name="IDeviceInfoForGisImpl_queryDeviceInfoByIdPort">
      <soap:address location="http://10.111.243.54:8080/web/lcam/fwms/soa/cxf/TBIIDeviceInfoForGisImplqueryDeviceInfoById"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>